.Client__History__item{
    font-family: "DM Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 30px 20px;
    background: linear-gradient(135deg,#003eda ,#3B71FE , #3b72fc  ,#2f69fd , #003eda );
    color: #fff;
    gap: 10px;
    border-radius: 20px;
}
.ffd{
    font-family: "DM Sans", sans-serif;
}