.Checkout{
    form{
        max-width: 500px;
        margin: 0 auto;
        align-items: center;
        font-family: "DM Sans", sans-serif;
        gap: 20px;
        padding: 5%;
        input{
            margin-bottom: 20px;
        }
    }
}