.custom-range-picker {
    .ant-picker {
      width: 100%;
    
      
    }
  
    .ant-picker-input > input {
      color: #1890ff;
      padding: 20px;
      border-radius: 10px ;
    }
  
    .ant-picker-active-bar {
      background: #1890ff;
      
    }
  }
  